{% extends "base.html.twig" %}

{% block title %}
    {{trick.name}}
{% endblock %}


{% block body %}

    <div class="container">
        <header class="masthead bg-primary text-white text-center " style="background-image: url({{trick.cover}})"></header><br>

        <h1>{{trick.name}}</h1>

        <h5>
            <small>the
                {{trick.name}}
                belong to the
                {{trick.category.name}}</small>
        </h5><br>
        <img src="{{trick.cover}}">

        <p class=" justify-content-center">
            {{trick.description | raw }}</p><br>


    </div>


{% endblock %}
