{% extends "base.html.twig" %}

{% block title %}
    {{trick.name}}
{% endblock %}


{% block body %}

    <div class="container mt-3 ">
        <header class="masthead text-white text-center " width="100%" height="100px" style="background-image: url( {{ '/images/'~ trick.cover }} ) "></header><br>

        <h1>{{trick.name}}</h1>

        <h5>
            <small>the
                {{trick.name}}
                belong to the
                {{trick.category.name}}</small>
        </h5><br>

        <p class=" justify-content-center">
            {{trick.description | raw }}</p><br>

        <div class="row">
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <img alt="Trick Picture" src={{ '/images/'~ trick.cover }} target=" _blank " style="height: 200px ;
                                                                                                                             width: 100% ; display: block">
                </div>

            </div>

            {% for videos in trick.media %}
                <div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <iframe   width="100" height="200"   src = {{  videos.urlVideo }}
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen></iframe>
                        
                    </div>

                </div>
                
            {% endfor %}
            {% for pictures in trick.media %}
               
                <div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <img alt="Trick Picture" src= {{  asset (pictures.picture ) }} target=" _blank " style="height: 200px ;
                                                         width: 100% ; display: block">
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>


{% endblock %}


