{% extends "base.html.twig" %}

{% block title %}
    {{trick.name}}
{% endblock %}


{% block body %}

    <div class="container mt-3">
        <header class="masthead bg-primary text-white text-center " style="background-image: url( {{ '/images/'~ trick.cover }} ) "></header><br>

        <h1>{{trick.name}}</h1>

        <h5>
            <small>the
                {{trick.name}}
                belong to the
                {{trick.category.name}}</small>
        </h5><br>


        <p class=" justify-content-center">
            {{trick.description | raw }}</p><br>

        <div class="col-md-4">
            <div class="card bg-light mb-3">

                <img alt="Trick Picture" src={{ '/images/'~ trick.cover }} target= " _blank " style="height: 200px ;
                     width: 100% ; display: block">



            </div>
        </div>




    </div>


{% endblock %}
