<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            SNOWMASS-
            {% block title %}{% endblock %}
        </title>


        {% block stylesheets %}
        <link href="{{ asset('/css/all.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset ('/js/all.js')}}" rel="stylesheet" type="text/css"> 
        
        <link href="{{ asset ('https://fonts.googleapis.com/css?family=Montserrat:400,700')}}" rel="stylesheet" type="text/css">
        <link
        href="{{ asset('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic')}}" rel="stylesheet" type="text/css">
        <!-- Theme CSS -->
        <link href="{{ asset ('/css/freelancer.min.css')}}" rel="stylesheet">
         {% endblock %}
    </head>

    {% include "part/header.html.twig" %}
    <body>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        {% include "part/footer.html.twig" %}
    </body>
</html>